*{
   box-sizing: border-box;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(90deg, rgb(84, 69, 144), lightblue);
   height: 100vh;
}

.search{
   position: relative;
   height: 50px;

}

.search .input {
   background-color: white;
   border: 0;
   font-size: 18px;
   padding: 15px;
   height: 50px;
   width: 50px;
   margin-left: 5px;
   transition: width 0.3s ease;
}

#btn{
   background-color: white;
   border: 0;
   cursor: pointer;
   font-size: 24px;
   position: absolute;
   top: 0;
   left: 0;
   height: 50px;
   width: 50px;
   transition:  transform 0.3s ease;
}

.btn:focus, .input:focus{
   outline:none;
}

.active .input {
   width: 250px;
}

.search.active .btn {
   transform: translateY(50px);
}
